:root {
  --ff: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--ff);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  font-weight: bold;
}

input,
select,
.nextBtn {
  margin-top: 4px;
  margin-bottom: 15px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
  border-radius: 20px;
  width: 100%;
  padding: 0 10px;
  font-family: var(--ff);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-items: center;
  background-color: rgb(224, 147, 185);
  padding: 30px;
}

.nextBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(58, 130, 179);
  cursor: pointer;
  padding: 0 30px;
  font-family: var(--ff);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

a.nextBtn:link,
a.nextBtn:visited,
a.nextBtn:hover,
a.nextBtn:active,
.nextBtn {
  color: white;
  text-decoration: none;
}
